/* Ajustes finos sobre o Pico.css */
body {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

article {
  margin-bottom: 2rem;
}

button i {
  vertical-align: middle;
  margin-right: 0.5rem;
}